* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#quote_Generator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./img/claudia-wolff-owBcefxgrIE-unsplash.jpg);
  background-position: center;
}

#card {
  padding: 2rem 4rem;
  min-height: 40vh;
  width: 35%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}

#card h1 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card p {
  margin: 1.5rem 0;
  text-align: left;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
}
#card span {
  display: block;
  text-align: right;
  font-family: "Libre Baskerville", serif;
}

#button-wrapper {
  margin-top: 2rem;
}

#generate-button {
  border-radius: 10px;
  height: 2rem;
  width: 15rem;
  font-size: large;
  font-family: "Libre Baskerville", serif;
  color: black;
}

@media screen and (max-width: 1270px) {
  #card {
    width: 40%;
  }
}

@media screen and (max-width: 988px) {
  #card {
    width: 45%;
  }
}

@media screen and (max-width: 910px) {
  #card {
    width: 50%;
  }
}

@media screen and (max-width: 819px) {
  #card {
    width: 55%;
  }
}

@media screen and (max-width: 745px) {
  #card {
    width: 60%;
  }
}

@media screen and (max-width: 683px) {
  html {
    font-size: 80%;
  }
  #card {
    width: 65%;
  }
  #generate-button {
    font-size: 92%;
  }
}

@media screen and (max-width: 615px) {
  #quote_Generator {
    background: url(./img/bg-mobile.png);
    background-position: right;
  }
}

@media screen and (max-width: 504px) {
  #generate-button {
    font-size: 92%;
  }
  #card {
    width: 70%;
  }
}

@media screen and (max-width: 468px) {
  #card {
    width: 80%;
  }
}

@media screen and (max-width: 410px) {
  #card {
    width: 88%;
  }
}

@media screen and (max-width: 373px) {
  #card h1 {
    font-size: 1.5rem;
  }
  #text p {
    font-size: 1.85rem;
  }
}
